name: Formatting validation using black

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: ['3.9']
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install -U pip
        # We manually upgrade it to make the builds stable
        pip install black==22.3.0
    - name: Format with black
      run: |
        black .
        if git status --porcelain | grep .; then git --no-pager diff; exit 1; fi